<!DOCTYPE html>
<html>
<head>
	<title>Unjoyreactor</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<style type="text/css">
		body {
			font-family: Helvetica, Arial, sans-serif;
			font-weight: 200;
			font-size: 20px;
			text-align: center;
		}
		input {
			font-family: Helvetica, Arial, sans-serif;
			font-weight: 200;
			font-size: 20px;
			width: 400px;
			height: 40px;
			border: 1px #555 solid;
			border-radius: 2px;
			box-sizing: border-box;
			padding: 0  0 0 10px;
		}
		input[type="submit"] {
			width: auto;
			background: #FFC134;
			padding: 0 10px;
		}
		form {
			margin: 0 0 20px 0;
		}
	</style>
</head>
<body>

	<h1>Unjoyreactor</h1>
	<img src="images/unjoyreactor.png">

	<p>Убирать желтую полосочку с картинки? Пожалуйста!</p>

	<form method="post">
		<label>URL файла:
			<input size="120" type="text" name="url" value="http://svalko.org/data/2012_06_07_20_30_img6_joyreactor_ru_pics_post_D0_B3_D0_B8_D1_82_D0_BB_D0_B5_D1_80_D1_82_D1_8B_D1_83_D0_BF_D0_BE_D1_80_D0_BE_D0_BB_D1_81_D1_8F_D0_B4_D0_B5_D1_82_D0_B8_193486.jpeg"></label>
			<input type="submit" value="Пыщь!">
	</form>

</body>
</html>